*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
  
}

.home{
  background-color:bisque;
  height: 555px;
  width:1365px;
  background-position: center;
  position: fixed;
  text-align: center;
  
}

.components{
  transform:translate(100 px);
}

.warfirst{
  background-color:bisque;
  height: 555px;
  width: 1365px;;
  background-position: center;
  position: fixed;
  
}

.warsecond{
  background-color:bisque;
  height: 555px;
  width:1365px;
  background-position: center;
  position: fixed;
  
}

.warthird{
  background-color:bisque;
  height: 555px;
  width:1365px;
  background-position: center;
  position: fixed;
  
}

.warfourth{
  background-color:bisque;
  height: 555px;
  width:1365px;
  background-position: center;
  position: fixed;
  
}
